/* .footer {
  background-color: #f8f9fa;
  padding: 20px 0;
} */

.footer {
  padding: 0.25rem 0; /* Reduce vertical padding further */
}

.footer .container p,
.footer h5 {
  font-size: medium;
  margin-bottom: 0.1rem; /* Further decrease space between elements */
}

.footer a {
  color: #007bff; /* Kolor linków */
  font-size: 25px; /* Rozmiar ikon */
}

.footer a:hover {
  text-decoration: none;
}

.footer .text-uppercase {
  font-weight: bold;
}

.footer i {
  margin: 0 10px; /* Odstęp między ikonami */
}
