.bg-light-pink {
  background-color: hsl(355, 74%, 82%);
}

.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Kolor tekstu podczas najechania */
.service-card:hover h3 {
  color: #e91e63; /* Jasnoróżowy odcień */
}

.service-card:hover {
  background-color: #fbe5ec; /* Jasnoróżowe tło na hover */
}

/* Efekt przysłaniania */
.overlap-section {
  position: relative;
  z-index: 1;
  margin-top: -50px; /* Przesunięcie sekcji do góry */
}

.overlap-section-content {
  padding: 40px;
  background: #ffffff; /* Białe tło, aby przykryć sekcję poniżej */
  border-radius: 15px; /* Zaokrąglenie krawędzi */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Dodanie cienia */
}

/* Stylizacja karuzeli */
.gallery-carousel .carousel-item {
  display: flex;
  justify-content: center;
}

.gallery-carousel .carousel-item img {
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer a {
  color: #007bff; /* Kolor linków */
  font-size: 24px; /* Rozmiar ikon */
}

.footer a:hover {
  text-decoration: none;
}

.footer .text-uppercase {
  font-weight: bold;
}

.footer i {
  margin: 0 10px; /* Odstęp między ikonami */
}
